<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>temp_level_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas23.pvr.ccz</string>
            <key>size</key>
            <string>{1924,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd78214e19a7db7ccf59ef54a3ae9be7:82e62934f7ef746837fcaebc592ae0d2:57228e067e74c2cd8a412eb0593ae936$</string>
            <key>textureFileName</key>
            <string>TextureAtlas23.pvr.ccz</string>
        </dict>
    </dict>
</plist>
