<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>temp_level_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas24.pvr.ccz</string>
            <key>size</key>
            <string>{1924,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:290bb7e05ff22da8f492a42e602357bb:8141df1ff0d23f7bab4d6b29ba99aa46:8f2710b6f868e9dfcf3bffbcc94acacc$</string>
            <key>textureFileName</key>
            <string>TextureAtlas24.pvr.ccz</string>
        </dict>
    </dict>
</plist>
