<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birds_feather_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1502},{260,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,220}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1258},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>colors@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1961},{512,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,64}}</string>
                <key>sourceSize</key>
                <string>{512,64}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1502},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>dust@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2021},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>event_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1854},{618,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,103}}</string>
                <key>sourceSize</key>
                <string>{618,103}</string>
            </dict>
            <key>explosion@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{969,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{969,1252}}</string>
                <key>sourceSize</key>
                <string>{969,1252}</string>
            </dict>
            <key>explosion_basic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1071,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1071,1252}}</string>
                <key>sourceSize</key>
                <string>{1071,1252}</string>
            </dict>
            <key>game_gui_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1961},{232,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,78}}</string>
                <key>sourceSize</key>
                <string>{232,78}</string>
            </dict>
            <key>game_gui_count_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1608},{111,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{111,88}</string>
            </dict>
            <key>game_shelf@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1700},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>game_time_arrow@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1764},{22,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,45}}</string>
                <key>sourceSize</key>
                <string>{22,45}</string>
            </dict>
            <key>game_time_clock@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1862},{501,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,155}}</string>
                <key>sourceSize</key>
                <string>{501,155}</string>
            </dict>
            <key>game_time_mask@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1961},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>info_panel_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1726},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>lifes@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1862},{102,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,176}}</string>
                <key>sourceSize</key>
                <string>{102,176}</string>
            </dict>
            <key>mark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1813},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>weapon_strike_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72dc0abbca0d2fb4f97196e3feb2f6a1:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
