<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirate_box@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1278},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>special_birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{2044,1275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2044,1275}}</string>
                <key>sourceSize</key>
                <string>{2044,1275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas11.pvr.ccz</string>
            <key>size</key>
            <string>{2046,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5f67ca8cfc76398dca40f22d653d14f:b5747b383fa1471215f3565cf054e8e6:042e54b2b75f2ab0d469e4fda9e2a9c2$</string>
            <key>textureFileName</key>
            <string>TextureAtlas11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
