<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>temp_level_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas16.pvr.ccz</string>
            <key>size</key>
            <string>{1924,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:978578a699c59bbc4b2ec00c243216d4:fdceeb0bc7e8bfa66dddb4def2ad6ed2:374afa45886277319a4270834c2dd463$</string>
            <key>textureFileName</key>
            <string>TextureAtlas16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
