<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birds_feather_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1497},{260,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,220}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>bomb_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1794},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>bomb_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1719},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1497},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>coins_silver@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1255},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>colors@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1711},{448,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,81}}</string>
                <key>sourceSize</key>
                <string>{448,81}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1719},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>dust@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,1255},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>egg light.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1255},{1098,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1098,124}}</string>
                <key>sourceSize</key>
                <string>{1098,124}</string>
            </dict>
            <key>event_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1381},{618,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,103}}</string>
                <key>sourceSize</key>
                <string>{618,103}</string>
            </dict>
            <key>explosion@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1},{969,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{969,1252}}</string>
                <key>sourceSize</key>
                <string>{969,1252}</string>
            </dict>
            <key>explosion_basic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1071,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1071,1252}}</string>
                <key>sourceSize</key>
                <string>{1071,1252}</string>
            </dict>
            <key>game_chess@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1381},{128,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,81}}</string>
                <key>sourceSize</key>
                <string>{128,81}</string>
            </dict>
            <key>game_chess_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1381},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,105}</string>
            </dict>
            <key>game_shelf@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1823},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>info_panel_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1739},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>mark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1497},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1678},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>weapon_strike_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1255},{616,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,630}}</string>
                <key>sourceSize</key>
                <string>{616,630}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
            <key>size</key>
            <string>{2044,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a16f08d2ef8fe7bc5556426000e0f351:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
