<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_detail_dark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,801}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,801}}</string>
                <key>sourceSize</key>
                <string>{1920,801}</string>
            </dict>
            <key>popup_key_pic_wander@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{604,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,540}}</string>
                <key>sourceSize</key>
                <string>{604,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas15.png</string>
            <key>size</key>
            <string>{1924,1347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c189871f0ae2a6d4d46d009435c5162:2711a8a78252a6338b8509e542e1ce7e:ba9f793355ade8a79e1fd8091954586a$</string>
            <key>textureFileName</key>
            <string>TextureAtlas15.png</string>
        </dict>
    </dict>
</plist>
