<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_coins_light@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{131,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,126}}</string>
                <key>sourceSize</key>
                <string>{131,126}</string>
            </dict>
            <key>popup_key_ico_fall_price@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,163},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>popup_quit_picture_light_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,189}}</string>
                <key>sourceSize</key>
                <string>{42,189}</string>
            </dict>
            <key>popup_quit_picture_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{141,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,159}}</string>
                <key>sourceSize</key>
                <string>{141,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas9.pvr.ccz</string>
            <key>size</key>
            <string>{322,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db09fe789c244f3a00080caf6d0d012:372d3c33b6f90868ef3d48f69e12b875:a01694832bde54d6db92454f96551d61$</string>
            <key>textureFileName</key>
            <string>TextureAtlas9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
