<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_gshoot_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{109,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,79}}</string>
                <key>sourceSize</key>
                <string>{109,79}</string>
            </dict>
            <key>popup_gshoot_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,229}}</string>
                <key>sourceSize</key>
                <string>{221,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas19.pvr.ccz</string>
            <key>size</key>
            <string>{336,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f7b9900e7b4e0078d66c8a215bf6a43:76781e21cb47145bab14b5ba4143172c:cd7535742f3cb5a8db4720bea4dd583b$</string>
            <key>textureFileName</key>
            <string>TextureAtlas19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
