<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,218},{85,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,96}}</string>
                <key>sourceSize</key>
                <string>{85,96}</string>
            </dict>
            <key>day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,327},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,218},{94,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{94,107}</string>
            </dict>
            <key>day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,218},{94,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,131}}</string>
                <key>sourceSize</key>
                <string>{94,131}</string>
            </dict>
            <key>day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,351},{94,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,110}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,460}}</string>
                <key>sourceSize</key>
                <string>{251,460}</string>
            </dict>
            <key>map_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,320},{169,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,39}}</string>
                <key>sourceSize</key>
                <string>{169,39}</string>
            </dict>
            <key>map_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{560,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,214}}</string>
                <key>sourceSize</key>
                <string>{560,214}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,448},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,316},{14,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,2}}</string>
                <key>sourceSize</key>
                <string>{14,2}</string>
            </dict>
            <key>way.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,434},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas13.pvr.ccz</string>
            <key>size</key>
            <string>{817,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08b8f1bb539aaef9d918c30078a07e83:eac9028155a9f45f6b5ad356606506f4:e4f0684e8feda3385654ace41acc89a5$</string>
            <key>textureFileName</key>
            <string>TextureAtlas13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
