<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_bird_parts.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,87},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>box@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,101},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>box_laser_green@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,106},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>box_laser_red@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,87},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>explosion-zombi@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{384,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,473}}</string>
                <key>sourceSize</key>
                <string>{384,473}</string>
            </dict>
            <key>freeze_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,480}}</string>
                <key>sourceSize</key>
                <string>{375,480}</string>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{268,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,83}}</string>
                <key>sourceSize</key>
                <string>{268,83}</string>
            </dict>
            <key>gun_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,87},{126,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,12}}</string>
                <key>sourceSize</key>
                <string>{126,12}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,125},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>rain_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,477},{15,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,4}}</string>
                <key>sourceSize</key>
                <string>{15,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas14.pvr.ccz</string>
            <key>size</key>
            <string>{1035,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0b92c0e19ed055c7e69d479605e94e:b0dcf38a03bc083d02ea7d29ef2ab7e1:265d6b6a5b1d00970d737175864cc2c7$</string>
            <key>textureFileName</key>
            <string>TextureAtlas14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
