<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,326},{277,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,18}}</string>
                <key>sourceSize</key>
                <string>{277,18}</string>
            </dict>
            <key>end_lvl_bg_popup@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,349}}</string>
                <key>sourceSize</key>
                <string>{246,349}</string>
            </dict>
            <key>end_lvl_bg_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{750,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,279}}</string>
                <key>sourceSize</key>
                <string>{750,279}</string>
            </dict>
            <key>end_lvl_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,232},{300,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,75}}</string>
                <key>sourceSize</key>
                <string>{300,75}</string>
            </dict>
            <key>end_lvl_kybok_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{203,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,228}}</string>
                <key>sourceSize</key>
                <string>{203,228}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,2},{225,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,150}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>end_star_glow@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,232},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>end_star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,283},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,283},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
            <key>size</key>
            <string>{1434,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a06e288b979671cf99ae2fafc9b67cb:bbfa47c1dfce3875bc8567e7c191b8e3:04d5813c1013d9c54e1039dcb428156a$</string>
            <key>textureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
