<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_scroll_border_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,413},{192,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,9}}</string>
                <key>sourceSize</key>
                <string>{192,9}</string>
            </dict>
            <key>btn_sprite_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,237},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>choose_box_lvl_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{150,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,375}}</string>
                <key>sourceSize</key>
                <string>{150,375}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,379},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>facebook_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,379},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>flag_not_avaliable_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,375},{96,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,15}}</string>
                <key>sourceSize</key>
                <string>{96,15}</string>
            </dict>
            <key>flag_sprite_big@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,421}}</string>
                <key>sourceSize</key>
                <string>{239,421}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{243,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,371}}</string>
                <key>sourceSize</key>
                <string>{243,371}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,180},{99,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,55}}</string>
                <key>sourceSize</key>
                <string>{99,55}</string>
            </dict>
            <key>popup_buy_coins_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,199},{223,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,181}}</string>
                <key>sourceSize</key>
                <string>{223,181}</string>
            </dict>
            <key>popup_getcoins_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,253},{182,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,147}}</string>
                <key>sourceSize</key>
                <string>{182,147}</string>
            </dict>
            <key>popup_key_btn1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,91},{99,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,87}}</string>
                <key>sourceSize</key>
                <string>{99,87}</string>
            </dict>
            <key>popup_key_btn2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,2},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>popup_key_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,206},{211,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,201}}</string>
                <key>sourceSize</key>
                <string>{211,201}</string>
            </dict>
            <key>popup_progress_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{171,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,179}}</string>
                <key>sourceSize</key>
                <string>{171,179}</string>
            </dict>
            <key>popup_quit_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{169,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,202}}</string>
                <key>sourceSize</key>
                <string>{169,202}</string>
            </dict>
            <key>popup_rate_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{191,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,195}}</string>
                <key>sourceSize</key>
                <string>{191,195}</string>
            </dict>
            <key>settings_lang_check@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,375},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>share@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,183},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>twitter_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,379},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>vk_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,379},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas4.pvr.ccz</string>
            <key>size</key>
            <string>{1325,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d3df5eb33d9fb486aae496287171f79:ec615fcdda205ba803713bcfb0444688:0311bb16bc6349ec94201f930c4694e7$</string>
            <key>textureFileName</key>
            <string>TextureAtlas4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
