<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_scroll_border@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,459},{254,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,12}}</string>
                <key>sourceSize</key>
                <string>{254,12}</string>
            </dict>
            <key>bg_detail_choose_bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,169},{116,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,104}}</string>
                <key>sourceSize</key>
                <string>{116,104}</string>
            </dict>
            <key>bg_detail_lamp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,17},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>bg_detail_settings@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,138},{123,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,96}}</string>
                <key>sourceSize</key>
                <string>{123,96}</string>
            </dict>
            <key>bg_detail_stripe@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,236},{144,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,78}}</string>
                <key>sourceSize</key>
                <string>{144,78}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,17},{225,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,150}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,275},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,169},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>choose_box_navi_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,388},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>lock@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,458},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>main_menu_btn_bg_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,17},{114,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,119}}</string>
                <key>sourceSize</key>
                <string>{114,119}</string>
            </dict>
            <key>play_btn_animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,353},{257,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,104}}</string>
                <key>sourceSize</key>
                <string>{257,104}</string>
            </dict>
            <key>settings_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,480}}</string>
                <key>sourceSize</key>
                <string>{375,480}</string>
            </dict>
            <key>settings_btn_big@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,316},{163,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,70}}</string>
                <key>sourceSize</key>
                <string>{163,70}</string>
            </dict>
            <key>unlock_mode_effect@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{375,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,13}}</string>
                <key>sourceSize</key>
                <string>{375,13}</string>
            </dict>
            <key>vk@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,388},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
            <key>size</key>
            <string>{844,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:173cd8888ebf9e17d5a43197c47791bc:661aa6b4b630d3dfbd43df825b41c16f:1622b2e3d2e266e16f21959f6ae95504$</string>
            <key>textureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
