<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_glife_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,240},{114,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,123}}</string>
                <key>sourceSize</key>
                <string>{114,123}</string>
            </dict>
            <key>popup_glife_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,240},{230,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,236}}</string>
                <key>sourceSize</key>
                <string>{230,236}</string>
            </dict>
            <key>preload-lvl-bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,480}}</string>
                <key>sourceSize</key>
                <string>{375,480}</string>
            </dict>
            <key>preload-lvl-bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{254,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,236}}</string>
                <key>sourceSize</key>
                <string>{254,236}</string>
            </dict>
            <key>preload-lvl-wave@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,365},{114,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,113}}</string>
                <key>sourceSize</key>
                <string>{114,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
            <key>size</key>
            <string>{727,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a51ea084e876bbaeefa7f06bde9be73:adfd9597cc8f02732d2a5f9a22f052ca:f09fb1211140a49faf8860e629fa2051$</string>
            <key>textureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
