<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>progress_map_dot@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,154},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>progress_map_episode1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>progress_map_episode2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>progress_map_episode3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>progress_map_episode4@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>progress_map_episode5@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,180}}</string>
                <key>sourceSize</key>
                <string>{270,180}</string>
            </dict>
            <key>progress_map_fb_share@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,140},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>progress_map_fbconnect@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{135,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,75}}</string>
                <key>sourceSize</key>
                <string>{135,75}</string>
            </dict>
            <key>progress_map_fbico@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,154},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>progress_map_gplus_share@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,100},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>progress_map_point_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>progress_map_share_ico@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,68},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>progress_map_tw_share@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,140},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>progress_map_vk_share@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,100},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas18.pvr.ccz</string>
            <key>size</key>
            <string>{993,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6501a5273a4290d7e0ed00e961f5914:c553135e1f4a3900fd2488870fb413f4:bbd0c4aa2c46eec563be74e473e8dd59$</string>
            <key>textureFileName</key>
            <string>TextureAtlas18.pvr.ccz</string>
        </dict>
    </dict>
</plist>
