<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,814},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>btn_sprite_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,891},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>explosion-war@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{443,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,543}}</string>
                <key>sourceSize</key>
                <string>{443,543}</string>
            </dict>
            <key>pause_birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,547},{225,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,265}}</string>
                <key>sourceSize</key>
                <string>{225,265}</string>
            </dict>
            <key>pause_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>pause_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,920},{110,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,55}}</string>
                <key>sourceSize</key>
                <string>{110,55}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{243,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,371}}</string>
                <key>sourceSize</key>
                <string>{243,371}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,814},{99,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,55}}</string>
                <key>sourceSize</key>
                <string>{99,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas12.pvr.ccz</string>
            <key>size</key>
            <string>{474,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5a323012bf08cefe7c95459cec2c4af:c4d0bd4538750089d29dcc840af9acfd:90eceb48c3ced68e923c3275d96621ac$</string>
            <key>textureFileName</key>
            <string>TextureAtlas12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
