<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_scroll_border@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2932},{678,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,33}}</string>
                <key>sourceSize</key>
                <string>{678,33}</string>
            </dict>
            <key>bg_detail_choose_bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2166},{310,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,276}}</string>
                <key>sourceSize</key>
                <string>{310,276}</string>
            </dict>
            <key>bg_detail_lamp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2568},{254,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,372}}</string>
                <key>sourceSize</key>
                <string>{254,372}</string>
            </dict>
            <key>bg_detail_settings@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2564},{329,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,256}}</string>
                <key>sourceSize</key>
                <string>{329,256}</string>
            </dict>
            <key>bg_detail_stripe@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2355},{383,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,207}}</string>
                <key>sourceSize</key>
                <string>{383,207}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2166},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2564},{301,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,200}}</string>
                <key>sourceSize</key>
                <string>{301,200}</string>
            </dict>
            <key>btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2166},{486,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,486}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>choose_box_navi_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2444},{48,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>lock@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2568},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>main_menu_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>main_menu_btn_bg_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2654},{305,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,317}}</string>
                <key>sourceSize</key>
                <string>{305,317}</string>
            </dict>
            <key>play_btn_animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2654},{684,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,276}}</string>
                <key>sourceSize</key>
                <string>{684,276}</string>
            </dict>
            <key>settings_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>settings_btn_big@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2166},{435,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,187}}</string>
                <key>sourceSize</key>
                <string>{435,187}</string>
            </dict>
            <key>unlock_mode_effect@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2973},{1000,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,35}}</string>
                <key>sourceSize</key>
                <string>{1000,35}</string>
            </dict>
            <key>vk@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,2822},{169,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,182}}</string>
                <key>sourceSize</key>
                <string>{169,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas2.png</string>
            <key>size</key>
            <string>{1924,3010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f49092653ad1fa953e234acab7dcb9:9176288a1f03633b5900ee1fe5363815:5057db23c659907ba80a0b2c0ba2a8aa$</string>
            <key>textureFileName</key>
            <string>TextureAtlas2.png</string>
        </dict>
    </dict>
</plist>
