<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board_migalka@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas17.png</string>
            <key>size</key>
            <string>{1924,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d2eebdff671065726e2b0a9b2386f1:4ad15aa3721cfb040492c8c841bed0d5:e5546a54826da59986dd7b41ea757cc3$</string>
            <key>textureFileName</key>
            <string>TextureAtlas17.png</string>
        </dict>
    </dict>
</plist>
