<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_preload_bar@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{631,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,88}}</string>
                <key>sourceSize</key>
                <string>{631,88}</string>
            </dict>
            <key>start_preload_bar_fill@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1084},{577,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,38}}</string>
                <key>sourceSize</key>
                <string>{577,38}</string>
            </dict>
            <key>start_preloader_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas1.png</string>
            <key>size</key>
            <string>{1924,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e12f27dffdef61250d99e26948b3e4c:f4c5a4445e4a56b2dec44960d6fcb1c2:81f9d2ebe1b6724d9c6131f6dafede57$</string>
            <key>textureFileName</key>
            <string>TextureAtlas1.png</string>
        </dict>
    </dict>
</plist>
