<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{1137,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,603}}</string>
                <key>sourceSize</key>
                <string>{1137,603}</string>
            </dict>
            <key>bg_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{1002,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1002,866}}</string>
                <key>sourceSize</key>
                <string>{1002,866}</string>
            </dict>
            <key>bonus-animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,942},{682,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,664}}</string>
                <key>sourceSize</key>
                <string>{682,664}</string>
            </dict>
            <key>bonus_amigo_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,942},{131,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>bonus_pirat_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1021},{124,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,87}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>colors_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1610},{232,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,42}}</string>
                <key>sourceSize</key>
                <string>{232,42}</string>
            </dict>
            <key>game_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,872},{1000,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,66}}</string>
                <key>sourceSize</key>
                <string>{1000,66}</string>
            </dict>
            <key>game_panel_counter@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,942},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>game_panel_counter_best@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1233},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>game_panel_game_life@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1151},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>game_panel_goldlife@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1233},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>game_panel_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,984},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,980},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_textbox@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1112},{123,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,35}}</string>
                <key>sourceSize</key>
                <string>{123,35}</string>
            </dict>
            <key>game_panel_time@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1192},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>game_panel_time_star@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1151},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>task-background@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,942},{141,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{141,34}</string>
            </dict>
            <key>temp_level_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas6.png</string>
            <key>size</key>
            <string>{2010,1891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b3d5382f24e2ef4afe0148999687fc2:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas6.png</string>
        </dict>
    </dict>
</plist>
