<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,855},{227,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,256}}</string>
                <key>sourceSize</key>
                <string>{227,256}</string>
            </dict>
            <key>day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,574},{262,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,279}}</string>
                <key>sourceSize</key>
                <string>{262,279}</string>
            </dict>
            <key>day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1029},{251,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,285}}</string>
                <key>sourceSize</key>
                <string>{251,285}</string>
            </dict>
            <key>day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,679},{251,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,348}}</string>
                <key>sourceSize</key>
                <string>{251,348}</string>
            </dict>
            <key>day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,855},{251,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,292}}</string>
                <key>sourceSize</key>
                <string>{251,292}</string>
            </dict>
            <key>map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{669,1226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,1226}}</string>
                <key>sourceSize</key>
                <string>{669,1226}</string>
            </dict>
            <key>map_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,574},{451,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,103}}</string>
                <key>sourceSize</key>
                <string>{451,103}</string>
            </dict>
            <key>map_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1492,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1492,570}}</string>
                <key>sourceSize</key>
                <string>{1492,570}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,581},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,574},{36,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,5}}</string>
                <key>sourceSize</key>
                <string>{36,5}</string>
            </dict>
            <key>way.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,574},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas13.png</string>
            <key>size</key>
            <string>{1496,1802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1981327694145d627d3bbc3d822e3d35:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas13.png</string>
        </dict>
    </dict>
</plist>
