<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_detail_dark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1004,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1004,422}}</string>
                <key>sourceSize</key>
                <string>{1004,422}</string>
            </dict>
            <key>popup_key_pic_wander@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{608,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,544}}</string>
                <key>sourceSize</key>
                <string>{608,544}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas15.png</string>
            <key>size</key>
            <string>{1008,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e7ddae0c5ec2e4c134ed3532c8414fd:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas15.png</string>
        </dict>
    </dict>
</plist>
