<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_gshoot_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{305,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,327}}</string>
                <key>sourceSize</key>
                <string>{305,327}</string>
            </dict>
            <key>popup_gshoot_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{678,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,604}}</string>
                <key>sourceSize</key>
                <string>{678,604}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas19.pvr.ccz</string>
            <key>size</key>
            <string>{989,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac358512b1e13e1e84266ad1af3e7114:e87039f9cc316a396085780061519ff5:cd7535742f3cb5a8db4720bea4dd583b$</string>
            <key>textureFileName</key>
            <string>TextureAtlas19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
