<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_menu_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas22.pvr.ccz</string>
            <key>size</key>
            <string>{1004,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5369cd269a99f7b6cced7a03df956834:d11a09de2929530ac9b56f0eb6780515:dd269daf2cb52275cc133ac38034891a$</string>
            <key>textureFileName</key>
            <string>TextureAtlas22.pvr.ccz</string>
        </dict>
    </dict>
</plist>
