<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_detail_choose_bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{310,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,276}}</string>
                <key>sourceSize</key>
                <string>{310,276}</string>
            </dict>
            <key>bg_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{1137,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,603}}</string>
                <key>sourceSize</key>
                <string>{1137,603}</string>
            </dict>
            <key>bg_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1002,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1002,866}}</string>
                <key>sourceSize</key>
                <string>{1002,866}</string>
            </dict>
            <key>bonus-animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,827},{682,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,664}}</string>
                <key>sourceSize</key>
                <string>{682,664}</string>
            </dict>
            <key>bonus_amigo_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1214},{131,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>bonus_pirat_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1125},{124,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,87}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>colors_horizontal_line@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,280},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>colors_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,328},{232,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,42}}</string>
                <key>sourceSize</key>
                <string>{232,42}</string>
            </dict>
            <key>colors_vertical_line@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1365},{56,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,81}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>game_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,759},{1000,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,66}}</string>
                <key>sourceSize</key>
                <string>{1000,66}</string>
            </dict>
            <key>game_panel_counter@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,280},{252,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,46}}</string>
                <key>sourceSize</key>
                <string>{252,46}</string>
            </dict>
            <key>game_panel_counter_best@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,976},{168,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,147}}</string>
                <key>sourceSize</key>
                <string>{168,147}</string>
            </dict>
            <key>game_panel_game_life@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,342},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>game_panel_goldlife@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,827},{168,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,147}}</string>
                <key>sourceSize</key>
                <string>{168,147}</string>
            </dict>
            <key>game_panel_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,1291},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1291},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_shoot_count@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1365},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>game_panel_textbox@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1448},{123,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,35}}</string>
                <key>sourceSize</key>
                <string>{123,35}</string>
            </dict>
            <key>game_panel_time@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1164},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>game_panel_time_star@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1125},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>popup_cloud@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{650,755}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,755}}</string>
                <key>sourceSize</key>
                <string>{650,755}</string>
            </dict>
            <key>task-background@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,827},{141,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{141,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas6.pvr.ccz</string>
            <key>size</key>
            <string>{2008,1493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a97d3015147ced1702a736e3cc45090b:3c1051df6db9f74556046660da280888:f33f7d177fc4a61253b8dfcbf542a179$</string>
            <key>textureFileName</key>
            <string>TextureAtlas6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
