<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>episode3_clouds@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{300,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,401}}</string>
                <key>sourceSize</key>
                <string>{300,401}</string>
            </dict>
            <key>episode3_sky@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1284},{485,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,345}}</string>
                <key>sourceSize</key>
                <string>{485,345}</string>
            </dict>
            <key>episode3_vint@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1284},{63,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{63,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas24.pvr.ccz</string>
            <key>size</key>
            <string>{1004,1687}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55002d93a4b683fd2d69fc45e6ad57da:4f50ad88967ea745620d33d5aa05fd22:8f2710b6f868e9dfcf3bffbcc94acacc$</string>
            <key>textureFileName</key>
            <string>TextureAtlas24.pvr.ccz</string>
        </dict>
    </dict>
</plist>
