<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birds_feather_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1382},{260,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,220}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>bomb_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1860},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>bomb_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1382},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1498},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>coins_silver@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1256},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>colors@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1498},{462,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,256}}</string>
                <key>sourceSize</key>
                <string>{462,256}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1756},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>dust@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,1256},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>egg light.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1256},{1098,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1098,124}}</string>
                <key>sourceSize</key>
                <string>{1098,124}</string>
            </dict>
            <key>event_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1382},{618,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,103}}</string>
                <key>sourceSize</key>
                <string>{618,103}</string>
            </dict>
            <key>explosion@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{969,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{969,1252}}</string>
                <key>sourceSize</key>
                <string>{969,1252}</string>
            </dict>
            <key>explosion_basic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1071,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1071,1252}}</string>
                <key>sourceSize</key>
                <string>{1071,1252}</string>
            </dict>
            <key>game_chess@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1740},{128,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,81}}</string>
                <key>sourceSize</key>
                <string>{128,81}</string>
            </dict>
            <key>game_chess_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1382},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{82,105}</string>
            </dict>
            <key>game_shelf@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1823},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>info_panel_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1756},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>mark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1498},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1382},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>weapon_strike_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{616,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,630}}</string>
                <key>sourceSize</key>
                <string>{616,630}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
            <key>size</key>
            <string>{2046,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e605dfefd9f10aa61a0987aeea7a9c:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
