<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_detail_choose_bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1475},{310,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,276}}</string>
                <key>sourceSize</key>
                <string>{310,276}</string>
            </dict>
            <key>bg_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1137,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,603}}</string>
                <key>sourceSize</key>
                <string>{1137,603}</string>
            </dict>
            <key>bg_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{1002,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1002,866}}</string>
                <key>sourceSize</key>
                <string>{1002,866}</string>
            </dict>
            <key>bonus-animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{682,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,664}}</string>
                <key>sourceSize</key>
                <string>{682,664}</string>
            </dict>
            <key>bonus_amigo_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,438},{131,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>bonus_pirat_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,515},{124,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,87}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>colors_horizontal_line@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,582},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>colors_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,683},{232,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,42}}</string>
                <key>sourceSize</key>
                <string>{232,42}</string>
            </dict>
            <key>colors_vertical_line@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1923,644},{56,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,81}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>game_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,727},{1000,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,66}}</string>
                <key>sourceSize</key>
                <string>{1000,66}</string>
            </dict>
            <key>game_panel_counter@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,668},{252,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,46}}</string>
                <key>sourceSize</key>
                <string>{252,46}</string>
            </dict>
            <key>game_panel_counter_best@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,151},{168,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,147}}</string>
                <key>sourceSize</key>
                <string>{168,147}</string>
            </dict>
            <key>game_panel_game_life@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,641},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,40}}</string>
                <key>sourceSize</key>
                <string>{96,40}</string>
            </dict>
            <key>game_panel_goldlife@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,2},{168,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,147}}</string>
                <key>sourceSize</key>
                <string>{168,147}</string>
            </dict>
            <key>game_panel_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,508},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,434},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_shoot_count@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,300},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>game_panel_textbox@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,604},{123,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,35}}</string>
                <key>sourceSize</key>
                <string>{123,35}</string>
            </dict>
            <key>game_panel_time@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,41},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>game_panel_time_star@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,2},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>move_circle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,368},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>popup_cloud@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,795},{650,755}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,755}}</string>
                <key>sourceSize</key>
                <string>{650,755}</string>
            </dict>
            <key>popup_stars@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,300},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>task-background@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,402},{141,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{141,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas6.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2de3bc44358c86242cd1d3b9134941:a996556e1f6208957f9f2b839a24ba8a:f33f7d177fc4a61253b8dfcbf542a179$</string>
            <key>textureFileName</key>
            <string>TextureAtlas6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
