<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birds_feather_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1496},{262,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,222}}</string>
                <key>sourceSize</key>
                <string>{262,222}</string>
            </dict>
            <key>bomb_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1793},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>bomb_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1718},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1496},{302,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,242}}</string>
                <key>sourceSize</key>
                <string>{302,242}</string>
            </dict>
            <key>coins_silver@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1254},{302,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,242}}</string>
                <key>sourceSize</key>
                <string>{302,242}</string>
            </dict>
            <key>colors@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1710},{450,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,83}}</string>
                <key>sourceSize</key>
                <string>{450,83}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1718},{130,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,104}}</string>
                <key>sourceSize</key>
                <string>{130,104}</string>
            </dict>
            <key>dust@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,1254},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>egg light.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1254},{1100,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1100,126}}</string>
                <key>sourceSize</key>
                <string>{1100,126}</string>
            </dict>
            <key>event_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1380},{620,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,105}}</string>
                <key>sourceSize</key>
                <string>{620,105}</string>
            </dict>
            <key>explosion@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,0},{971,1254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{971,1254}}</string>
                <key>sourceSize</key>
                <string>{971,1254}</string>
            </dict>
            <key>explosion_basic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1073,1254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1073,1254}}</string>
                <key>sourceSize</key>
                <string>{1073,1254}</string>
            </dict>
            <key>game_chess@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1380},{130,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,83}}</string>
                <key>sourceSize</key>
                <string>{130,83}</string>
            </dict>
            <key>game_chess_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1380},{84,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,107}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
            <key>game_shelf@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1822},{722,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,62}}</string>
                <key>sourceSize</key>
                <string>{722,62}</string>
            </dict>
            <key>info_panel_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1738},{356,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,126}}</string>
                <key>sourceSize</key>
                <string>{356,126}</string>
            </dict>
            <key>mark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1496},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1677},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>weapon_strike_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{618,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,632}}</string>
                <key>sourceSize</key>
                <string>{618,632}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
            <key>size</key>
            <string>{2044,1886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b1e887974256a0dea82deeab521eb0:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
