<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birds_life@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1436},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2046,1436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2046,1436}}</string>
                <key>sourceSize</key>
                <string>{2046,1436}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas10.pvr.ccz</string>
            <key>size</key>
            <string>{2046,1694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b6bbdaa7527a5c250b37663d8d0a820:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
