<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>day1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,857},{231,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,260}}</string>
                <key>sourceSize</key>
                <string>{231,260}</string>
            </dict>
            <key>day2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,574},{266,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,283}}</string>
                <key>sourceSize</key>
                <string>{266,283}</string>
            </dict>
            <key>day3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1033},{255,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,289}}</string>
                <key>sourceSize</key>
                <string>{255,289}</string>
            </dict>
            <key>day4.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,681},{255,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,352}}</string>
                <key>sourceSize</key>
                <string>{255,352}</string>
            </dict>
            <key>day5.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,857},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,296}}</string>
                <key>sourceSize</key>
                <string>{255,296}</string>
            </dict>
            <key>map.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,574},{673,1230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,1230}}</string>
                <key>sourceSize</key>
                <string>{673,1230}</string>
            </dict>
            <key>map_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,574},{455,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,107}}</string>
                <key>sourceSize</key>
                <string>{455,107}</string>
            </dict>
            <key>map_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1496,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1496,574}}</string>
                <key>sourceSize</key>
                <string>{1496,574}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,574},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,609},{40,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,9}}</string>
                <key>sourceSize</key>
                <string>{40,9}</string>
            </dict>
            <key>way.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,574},{64,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,35}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas13.pvr.ccz</string>
            <key>size</key>
            <string>{1496,1804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10722bc6414b94f14ee9dda4075bb958:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
