<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lock_1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>popup_social_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,404},{515,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,627}}</string>
                <key>sourceSize</key>
                <string>{515,627}</string>
            </dict>
            <key>progress_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{669,1222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,1222}}</string>
                <key>sourceSize</key>
                <string>{669,1222}</string>
            </dict>
            <key>progress_map_dot@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>progress_map_episode_light@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1033},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>progress_map_episode_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,400}}</string>
                <key>sourceSize</key>
                <string>{1000,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas18.pvr.ccz</string>
            <key>size</key>
            <string>{1190,1628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be42f6d72baf9211f93b9414356526f0:04d779b1da8ddb5b305678677e9fe662:bbd0c4aa2c46eec563be74e473e8dd59$</string>
            <key>textureFileName</key>
            <string>TextureAtlas18.pvr.ccz</string>
        </dict>
    </dict>
</plist>
