<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_bird_parts.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1284},{324,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,164}}</string>
                <key>sourceSize</key>
                <string>{324,164}</string>
            </dict>
            <key>box@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1266},{304,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,304}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>box_laser_green@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1492},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>box_laser_red@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1492},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>explosion-zombi@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{1028,1266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1028,1266}}</string>
                <key>sourceSize</key>
                <string>{1028,1266}</string>
            </dict>
            <key>freeze_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1004,1284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1004,1284}}</string>
                <key>sourceSize</key>
                <string>{1004,1284}</string>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1266},{719,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,226}}</string>
                <key>sourceSize</key>
                <string>{719,226}</string>
            </dict>
            <key>gun_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1492},{340,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,35}}</string>
                <key>sourceSize</key>
                <string>{340,35}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1492},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>rain_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1553},{44,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,15}}</string>
                <key>sourceSize</key>
                <string>{44,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas14.pvr.ccz</string>
            <key>size</key>
            <string>{2032,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1087b42ba2c4e387c08d4da6f5dacf:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
