<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_scroll_border_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2007},{512,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,25}}</string>
                <key>sourceSize</key>
                <string>{512,25}</string>
            </dict>
            <key>btn_sprite_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>choose_box_lvl_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{600,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,1000}}</string>
                <key>sourceSize</key>
                <string>{600,1000}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1670},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>facebook_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1651},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>flag_not_avaliable_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1776},{257,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,41}}</string>
                <key>sourceSize</key>
                <string>{257,41}</string>
            </dict>
            <key>flag_sprite_big@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,1122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,1122}}</string>
                <key>sourceSize</key>
                <string>{636,1122}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1006},{648,988}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,988}}</string>
                <key>sourceSize</key>
                <string>{648,988}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1856},{265,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,147}}</string>
                <key>sourceSize</key>
                <string>{265,147}</string>
            </dict>
            <key>popup_buy_coins_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{594,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,482}}</string>
                <key>sourceSize</key>
                <string>{594,482}</string>
            </dict>
            <key>popup_getcoins_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1651},{485,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,391}}</string>
                <key>sourceSize</key>
                <string>{485,391}</string>
            </dict>
            <key>popup_progress_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,488},{456,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,477}}</string>
                <key>sourceSize</key>
                <string>{456,477}</string>
            </dict>
            <key>popup_quit_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{450,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,538}}</string>
                <key>sourceSize</key>
                <string>{450,538}</string>
            </dict>
            <key>popup_rate_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1128},{509,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,519}}</string>
                <key>sourceSize</key>
                <string>{509,519}</string>
            </dict>
            <key>settings_lang_check@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1776},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>share@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{169,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,182}}</string>
                <key>sourceSize</key>
                <string>{169,182}</string>
            </dict>
            <key>twitter_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1670},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>vk_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1670},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas4.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6ad30743a6bba6b1c923f96efb2fe1f:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
