<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,747},{738,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,49}}</string>
                <key>sourceSize</key>
                <string>{738,49}</string>
            </dict>
            <key>end_lvl_bg_popup@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{656,931}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,931}}</string>
                <key>sourceSize</key>
                <string>{656,931}</string>
            </dict>
            <key>end_lvl_bg_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2000,743}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2000,743}}</string>
                <key>sourceSize</key>
                <string>{2000,743}</string>
            </dict>
            <key>end_lvl_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1371},{800,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,200}}</string>
                <key>sourceSize</key>
                <string>{800,200}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,747},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>end_star_glow@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1149},{214,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,220}}</string>
                <key>sourceSize</key>
                <string>{214,220}</string>
            </dict>
            <key>end_star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1149},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1573},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
            <key>size</key>
            <string>{2004,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e843952d2a1074b382fe0fb34bedea56:113d9d182cfa55b227a7c32cca2c178f:04d5813c1013d9c54e1039dcb428156a$</string>
            <key>textureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
