<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1452},{305,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,204}}</string>
                <key>sourceSize</key>
                <string>{305,204}</string>
            </dict>
            <key>btn_sprite_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1452},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>explosion-war@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1186,1452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1186,1452}}</string>
                <key>sourceSize</key>
                <string>{1186,1452}</string>
            </dict>
            <key>pause_birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,992},{604,711}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,711}}</string>
                <key>sourceSize</key>
                <string>{604,711}</string>
            </dict>
            <key>pause_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1452},{384,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,151}}</string>
                <key>sourceSize</key>
                <string>{384,151}</string>
            </dict>
            <key>pause_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1603},{298,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,151}}</string>
                <key>sourceSize</key>
                <string>{298,151}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,0},{652,992}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,992}}</string>
                <key>sourceSize</key>
                <string>{652,992}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1603},{269,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,151}}</string>
                <key>sourceSize</key>
                <string>{269,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas12.pvr.ccz</string>
            <key>size</key>
            <string>{1838,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02eb72bb31cf0b81acccdb035705384b:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
