<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_glife_btn1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,556},{302,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,234}}</string>
                <key>sourceSize</key>
                <string>{302,234}</string>
            </dict>
            <key>popup_glife_btn2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{313,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,251}}</string>
                <key>sourceSize</key>
                <string>{313,251}</string>
            </dict>
            <key>popup_glife_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1284},{618,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,632}}</string>
                <key>sourceSize</key>
                <string>{618,632}</string>
            </dict>
            <key>preload-lvl-bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1004,1284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1004,1284}}</string>
                <key>sourceSize</key>
                <string>{1004,1284}</string>
            </dict>
            <key>preload-lvl-bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1284},{680,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,634}}</string>
                <key>sourceSize</key>
                <string>{680,634}</string>
            </dict>
            <key>preload-lvl-wave@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,251},{307,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,305}}</string>
                <key>sourceSize</key>
                <string>{307,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
            <key>size</key>
            <string>{1317,1918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74923a49576d4a42ce0cb83816764214:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
