<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,747},{742,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,53}}</string>
                <key>sourceSize</key>
                <string>{742,53}</string>
            </dict>
            <key>end_lvl_bg_popup@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,747},{656,934}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,934}}</string>
                <key>sourceSize</key>
                <string>{656,934}</string>
            </dict>
            <key>end_lvl_bg_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2004,747}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2004,747}}</string>
                <key>sourceSize</key>
                <string>{2004,747}</string>
            </dict>
            <key>end_lvl_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1151},{804,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,204}}</string>
                <key>sourceSize</key>
                <string>{804,204}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,747},{604,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,404}}</string>
                <key>sourceSize</key>
                <string>{604,404}</string>
            </dict>
            <key>shop_money_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1355},{309,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,129}}</string>
                <key>sourceSize</key>
                <string>{309,129}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1484},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
            <key>size</key>
            <string>{2004,1681}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93552762cb098b8ad8c9d6f63b35ef6e:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
