<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_coins_light@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,0},{354,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,339}}</string>
                <key>sourceSize</key>
                <string>{354,339}</string>
            </dict>
            <key>popup_key_ico_fall_price@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,429},{58,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>popup_quit_picture_light_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,509}}</string>
                <key>sourceSize</key>
                <string>{116,509}</string>
            </dict>
            <key>popup_quit_picture_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{379,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,429}}</string>
                <key>sourceSize</key>
                <string>{379,429}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas9.pvr.ccz</string>
            <key>size</key>
            <string>{849,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9efa8a438ad740af17ee3fd1022c9538:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
