<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_coins_light@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{350,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,335}}</string>
                <key>sourceSize</key>
                <string>{350,335}</string>
            </dict>
            <key>popup_quit_picture_light_2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,505}}</string>
                <key>sourceSize</key>
                <string>{112,505}</string>
            </dict>
            <key>popup_quit_picture_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{375,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,425}}</string>
                <key>sourceSize</key>
                <string>{375,425}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas9.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dc7cd546c84fb4878e7c69ee54644ae:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
