<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_logo@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,118},{345,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,128}}</string>
                <key>sourceSize</key>
                <string>{345,128}</string>
            </dict>
            <key>about_name_logo@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,118},{510,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,321}}</string>
                <key>sourceSize</key>
                <string>{510,321}</string>
            </dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{738,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,49}}</string>
                <key>sourceSize</key>
                <string>{738,49}</string>
            </dict>
            <key>bg_detail_dark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{1000,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,418}}</string>
                <key>sourceSize</key>
                <string>{1000,418}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,118},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>coins_silver@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,118},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,118},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>flag_sprite_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,518},{334,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,590}}</string>
                <key>sourceSize</key>
                <string>{334,590}</string>
            </dict>
            <key>game_panel_goldlife@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>game_panel_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,0},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>icon_properties@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2515,0},{40,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,100}}</string>
                <key>sourceSize</key>
                <string>{40,100}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,118},{265,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,147}}</string>
                <key>sourceSize</key>
                <string>{265,147}</string>
            </dict>
            <key>popup_glife_pic_fall@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,0},{69,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>popup_item_rate_stars@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2231,0},{201,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,74}}</string>
                <key>sourceSize</key>
                <string>{201,74}</string>
            </dict>
            <key>popup_key_ico@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>popup_key_ico_fall@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,0},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>shop_item_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,518},{1960,1176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1960,1176}}</string>
                <key>sourceSize</key>
                <string>{1960,1176}</string>
            </dict>
            <key>shop_money_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{305,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,125}}</string>
                <key>sourceSize</key>
                <string>{305,125}</string>
            </dict>
            <key>shop_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,0},{1000,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,72}}</string>
                <key>sourceSize</key>
                <string>{1000,72}</string>
            </dict>
            <key>shop_panel_textbox@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,35}}</string>
                <key>sourceSize</key>
                <string>{150,35}</string>
            </dict>
            <key>shop_shelf_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2555,0},{806,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,118}}</string>
                <key>sourceSize</key>
                <string>{806,118}</string>
            </dict>
            <key>shop_weapon_check@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,0},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>shop_wheel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2432,0},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas5.png</string>
            <key>size</key>
            <string>{3361,1712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:292718426cf7f5021eaeb83e92d8c869:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas5.png</string>
        </dict>
    </dict>
</plist>
