<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birds_feather_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2796,0},{260,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,220}}</string>
                <key>sourceSize</key>
                <string>{260,220}</string>
            </dict>
            <key>bomb_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,0},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>bomb_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,0},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>colors@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{512,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,64}}</string>
                <key>sourceSize</key>
                <string>{512,64}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,0},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>dust@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>event_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,0},{618,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,103}}</string>
                <key>sourceSize</key>
                <string>{618,103}</string>
            </dict>
            <key>explosion@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,220},{969,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{969,1252}}</string>
                <key>sourceSize</key>
                <string>{969,1252}</string>
            </dict>
            <key>explosion_basic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,220},{1071,1252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1071,1252}}</string>
                <key>sourceSize</key>
                <string>{1071,1252}</string>
            </dict>
            <key>game_gui_count_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,0},{111,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{111,88}</string>
            </dict>
            <key>game_shelf@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{720,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,60}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
            <key>info_panel_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2263,0},{354,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,124}}</string>
                <key>sourceSize</key>
                <string>{354,124}</string>
            </dict>
            <key>mark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2617,0},{179,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>weapon_strike_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,220},{616,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,630}}</string>
                <key>sourceSize</key>
                <string>{616,630}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas7.png</string>
            <key>size</key>
            <string>{3056,1472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8ec70cefaad64218e8d91782a32ec9:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas7.png</string>
        </dict>
    </dict>
</plist>
