<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_scroll_border@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{678,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,33}}</string>
                <key>sourceSize</key>
                <string>{678,33}</string>
            </dict>
            <key>bg_detail_choose_bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,256},{310,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,276}}</string>
                <key>sourceSize</key>
                <string>{310,276}</string>
            </dict>
            <key>bg_detail_lamp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,256},{254,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,372}}</string>
                <key>sourceSize</key>
                <string>{254,372}</string>
            </dict>
            <key>bg_detail_settings@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,0},{329,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,256}}</string>
                <key>sourceSize</key>
                <string>{329,256}</string>
            </dict>
            <key>bg_detail_stripe@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,0},{383,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,207}}</string>
                <key>sourceSize</key>
                <string>{383,207}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,256},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,0},{301,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,200}}</string>
                <key>sourceSize</key>
                <string>{301,200}</string>
            </dict>
            <key>btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{486,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,486}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>choose_box_navi_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{48,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>main_menu_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,656},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>main_menu_btn_bg_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,256},{305,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,317}}</string>
                <key>sourceSize</key>
                <string>{305,317}</string>
            </dict>
            <key>play_btn_animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{684,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,276}}</string>
                <key>sourceSize</key>
                <string>{684,276}</string>
            </dict>
            <key>settings_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,656},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>settings_btn_big@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,0},{435,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,187}}</string>
                <key>sourceSize</key>
                <string>{435,187}</string>
            </dict>
            <key>vk@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{169,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,182}}</string>
                <key>sourceSize</key>
                <string>{169,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas2.png</string>
            <key>size</key>
            <string>{2486,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25f261902de04af219447974b9fb069e:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas2.png</string>
        </dict>
    </dict>
</plist>
