<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,0},{1137,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,603}}</string>
                <key>sourceSize</key>
                <string>{1137,603}</string>
            </dict>
            <key>bg_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,603},{1002,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1002,866}}</string>
                <key>sourceSize</key>
                <string>{1002,866}</string>
            </dict>
            <key>bonus-animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{303,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,301}}</string>
                <key>sourceSize</key>
                <string>{303,301}</string>
            </dict>
            <key>temp_level_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,603},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas6.png</string>
            <key>size</key>
            <string>{2002,1883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca7907fe4c1add1bf39a9cae1837014:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas6.png</string>
        </dict>
    </dict>
</plist>
