<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_scroll_border_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,25}}</string>
                <key>sourceSize</key>
                <string>{512,25}</string>
            </dict>
            <key>btn_sprite_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>choose_box_lvl_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,0},{600,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,1000}}</string>
                <key>sourceSize</key>
                <string>{600,1000}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,0},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>facebook_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,0},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>flag_not_avaliable_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,0},{257,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,41}}</string>
                <key>sourceSize</key>
                <string>{257,41}</string>
            </dict>
            <key>flag_sprite_big@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,0},{636,1122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,1122}}</string>
                <key>sourceSize</key>
                <string>{636,1122}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2379,0},{648,988}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,988}}</string>
                <key>sourceSize</key>
                <string>{648,988}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1122},{265,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,147}}</string>
                <key>sourceSize</key>
                <string>{265,147}</string>
            </dict>
            <key>popup_buy_coins_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1122},{594,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,482}}</string>
                <key>sourceSize</key>
                <string>{594,482}</string>
            </dict>
            <key>popup_getcoins_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1122},{485,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,391}}</string>
                <key>sourceSize</key>
                <string>{485,391}</string>
            </dict>
            <key>popup_progress_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1122},{456,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,477}}</string>
                <key>sourceSize</key>
                <string>{456,477}</string>
            </dict>
            <key>popup_quit_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1122},{450,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,538}}</string>
                <key>sourceSize</key>
                <string>{450,538}</string>
            </dict>
            <key>popup_rate_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,1122},{509,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,519}}</string>
                <key>sourceSize</key>
                <string>{509,519}</string>
            </dict>
            <key>settings_lang_check@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2759,1122},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>share@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2818,1122},{169,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,182}}</string>
                <key>sourceSize</key>
                <string>{169,182}</string>
            </dict>
            <key>twitter_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>vk_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1660},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas4.png</string>
            <key>size</key>
            <string>{3027,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd8397529e8248454ad9735b0ec2d44f:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas4.png</string>
        </dict>
    </dict>
</plist>
