<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_coins_light@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{350,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,335}}</string>
                <key>sourceSize</key>
                <string>{350,335}</string>
            </dict>
            <key>pirate_box@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>special_birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,335},{2044,1275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2044,1275}}</string>
                <key>sourceSize</key>
                <string>{2044,1275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas11.png</string>
            <key>size</key>
            <string>{2044,1610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a7fd368969a4bbb68c3dc61dd96de2:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas11.png</string>
        </dict>
    </dict>
</plist>
