<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freeze_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1280},{32,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>rain_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1280},{40,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,11}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas14.png</string>
            <key>size</key>
            <string>{1000,1337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69d4313ec698060d11edb49c75ff1c25:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas14.png</string>
        </dict>
    </dict>
</plist>
