<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>freeze_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>prediction_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,0},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas14.png</string>
            <key>size</key>
            <string>{2000,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d95742702b93c17e53a2c185a8260b:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas14.png</string>
        </dict>
    </dict>
</plist>
