<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{1137,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1137,603}}</string>
                <key>sourceSize</key>
                <string>{1137,603}</string>
            </dict>
            <key>bg_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,751},{1002,866}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1002,866}}</string>
                <key>sourceSize</key>
                <string>{1002,866}</string>
            </dict>
            <key>bonus-animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,87},{682,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,664}}</string>
                <key>sourceSize</key>
                <string>{682,664}</string>
            </dict>
            <key>bonus_amigo_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,0},{131,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>bonus_pirat_hat@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,0},{124,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,87}}</string>
                <key>sourceSize</key>
                <string>{124,87}</string>
            </dict>
            <key>game_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{1000,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,66}}</string>
                <key>sourceSize</key>
                <string>{1000,66}</string>
            </dict>
            <key>game_panel_counter@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,0},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>game_panel_counter_best@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>game_panel_game_life@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>game_panel_goldlife@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,0},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>game_panel_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,0},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>game_panel_textbox@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{123,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,35}}</string>
                <key>sourceSize</key>
                <string>{123,35}</string>
            </dict>
            <key>temp_level_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,751},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas6.png</string>
            <key>size</key>
            <string>{2002,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a3fe548f8ea58ed9dea36669ed22eb:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas6.png</string>
        </dict>
    </dict>
</plist>
