<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{301,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,200}}</string>
                <key>sourceSize</key>
                <string>{301,200}</string>
            </dict>
            <key>btn_sprite_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>explosion-war@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{1182,1448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1182,1448}}</string>
                <key>sourceSize</key>
                <string>{1182,1448}</string>
            </dict>
            <key>pause_birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,0},{600,707}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,707}}</string>
                <key>sourceSize</key>
                <string>{600,707}</string>
            </dict>
            <key>pause_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2245,0},{380,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,147}}</string>
                <key>sourceSize</key>
                <string>{380,147}</string>
            </dict>
            <key>pause_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2625,0},{294,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,147}}</string>
                <key>sourceSize</key>
                <string>{294,147}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2919,0},{648,988}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,988}}</string>
                <key>sourceSize</key>
                <string>{648,988}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3567,0},{265,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,147}}</string>
                <key>sourceSize</key>
                <string>{265,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas12.png</string>
            <key>size</key>
            <string>{3832,1448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9e7c389f816cfeb4e406a51c82729d:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas12.png</string>
        </dict>
    </dict>
</plist>
