<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>day_label_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>map.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{669,1226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,1226}}</string>
                <key>sourceSize</key>
                <string>{669,1226}</string>
            </dict>
            <key>map_sprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1226},{1492,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1492,570}}</string>
                <key>sourceSize</key>
                <string>{1492,570}</string>
            </dict>
            <key>wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{36,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,5}}</string>
                <key>sourceSize</key>
                <string>{36,5}</string>
            </dict>
            <key>way.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas13.png</string>
            <key>size</key>
            <string>{1492,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d81cf093cf52fb70c21ec4a74c279022:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas13.png</string>
        </dict>
    </dict>
</plist>
