<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>day_label_sprite.png</key>
		<dict>
			<key>frame</key>
			<string>{{1326,2},{150,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,120}}</string>
			<key>sourceSize</key>
			<string>{150,120}</string>
		</dict>
		<key>map@2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,572},{720,1280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{720,1280}}</string>
			<key>sourceSize</key>
			<string>{720,1280}</string>
		</dict>
		<key>map_sprite.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1320,566}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1320,566}}</string>
			<key>sourceSize</key>
			<string>{1320,566}</string>
		</dict>
		<key>wave.png</key>
		<dict>
			<key>frame</key>
			<string>{{1544,2},{36,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,5}}</string>
			<key>sourceSize</key>
			<string>{36,5}</string>
		</dict>
		<key>way.png</key>
		<dict>
			<key>frame</key>
			<string>{{1480,2},{60,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,31}}</string>
			<key>sourceSize</key>
			<string>{60,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TextureAtlas13.png</string>
		<key>size</key>
		<string>{1854,1854}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3443779c4339e09d3906fb8137336af3$</string>
		<key>textureFileName</key>
		<string>TextureAtlas13.png</string>
	</dict>
</dict>
</plist>
