<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_logo@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1776},{345,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,128}}</string>
                <key>sourceSize</key>
                <string>{345,128}</string>
            </dict>
            <key>about_name_logo@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1586},{510,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,321}}</string>
                <key>sourceSize</key>
                <string>{510,321}</string>
            </dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{738,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,49}}</string>
                <key>sourceSize</key>
                <string>{738,49}</string>
            </dict>
            <key>bg_detail_dark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{1000,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,418}}</string>
                <key>sourceSize</key>
                <string>{1000,418}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1779},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1182},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>flag_sprite_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1182},{334,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,590}}</string>
                <key>sourceSize</key>
                <string>{334,590}</string>
            </dict>
            <key>icon_properties@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1586},{40,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,100}}</string>
                <key>sourceSize</key>
                <string>{40,100}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1779},{265,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,147}}</string>
                <key>sourceSize</key>
                <string>{265,147}</string>
            </dict>
            <key>popup_item_rate_stars@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1908},{201,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,74}}</string>
                <key>sourceSize</key>
                <string>{201,74}</string>
            </dict>
            <key>shop_item_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1960,1176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1960,1176}}</string>
                <key>sourceSize</key>
                <string>{1960,1176}</string>
            </dict>
            <key>shop_money_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1908},{305,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,125}}</string>
                <key>sourceSize</key>
                <string>{305,125}</string>
            </dict>
            <key>shop_shelf_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{806,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,118}}</string>
                <key>sourceSize</key>
                <string>{806,118}</string>
            </dict>
            <key>shop_weapon_check@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1776},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>shop_wheel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1690},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:728ac7b2388a18b02462b7c575e01c37$</string>
            <key>textureFileName</key>
            <string>TextureAtlas5.png</string>
        </dict>
    </dict>
</plist>
