<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_logo@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1582},{345,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,128}}</string>
                <key>sourceSize</key>
                <string>{345,128}</string>
            </dict>
            <key>about_name_logo@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1731},{501,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,233}}</string>
                <key>sourceSize</key>
                <string>{501,233}</string>
            </dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1300},{738,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,49}}</string>
                <key>sourceSize</key>
                <string>{738,49}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1772},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>coins_silver@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1180},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>flag_sprite_small@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{334,590}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,590}}</string>
                <key>sourceSize</key>
                <string>{334,590}</string>
            </dict>
            <key>game_panel_goldlife@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1582},{168,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,147}}</string>
                <key>sourceSize</key>
                <string>{168,147}</string>
            </dict>
            <key>game_panel_plus@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>icon_properties@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,264},{40,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,100}}</string>
                <key>sourceSize</key>
                <string>{40,100}</string>
            </dict>
            <key>popup_glife_pic_fall@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,76},{69,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,56}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>popup_item_rate_stars@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1966},{201,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,74}}</string>
                <key>sourceSize</key>
                <string>{201,74}</string>
            </dict>
            <key>popup_key_ico@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1582},{168,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,147}}</string>
                <key>sourceSize</key>
                <string>{168,147}</string>
            </dict>
            <key>popup_key_ico_fall@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,197},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>shop_item_icon@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1960,1176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1960,1176}}</string>
                <key>sourceSize</key>
                <string>{1960,1176}</string>
            </dict>
            <key>shop_money_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1300},{305,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,125}}</string>
                <key>sourceSize</key>
                <string>{305,125}</string>
            </dict>
            <key>shop_panel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1966},{1000,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,72}}</string>
                <key>sourceSize</key>
                <string>{1000,72}</string>
            </dict>
            <key>shop_panel_textbox@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1731},{150,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,35}}</string>
                <key>sourceSize</key>
                <string>{150,35}</string>
            </dict>
            <key>shop_shelf_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1180},{806,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,118}}</string>
                <key>sourceSize</key>
                <string>{806,118}</string>
            </dict>
            <key>shop_weapon_check@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,134},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>shop_wheel@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1180},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas5.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fe8aa682cc292fc60153d84d9f78a5:4d2bbff7e3bcfc7b1b2ae2144274f6da:a690933c470b7cfccf0ecf314b3c7631$</string>
            <key>textureFileName</key>
            <string>TextureAtlas5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
