<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_gshoot_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{290,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,211}}</string>
                <key>sourceSize</key>
                <string>{290,211}</string>
            </dict>
            <key>popup_gshoot_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,611}}</string>
                <key>sourceSize</key>
                <string>{590,611}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas19.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2248259924036dea4712f8318346ad81:76781e21cb47145bab14b5ba4143172c:cd7535742f3cb5a8db4720bea4dd583b$</string>
            <key>textureFileName</key>
            <string>TextureAtlas19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
