<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_preload_bar@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{631,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,88}}</string>
                <key>sourceSize</key>
                <string>{631,88}</string>
            </dict>
            <key>start_preload_bar_fill@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,92},{577,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,38}}</string>
                <key>sourceSize</key>
                <string>{577,38}</string>
            </dict>
            <key>start_preloader_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ea4c65a3b219262f9545f32672a0ed:144ad1cbc088db25b3285d9991accefd:73298c74f57d01d5e4c0a16cbddd4c5b$</string>
            <key>textureFileName</key>
            <string>TextureAtlas1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
