<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_bird_parts.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1266},{320,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,160}}</string>
                <key>sourceSize</key>
                <string>{320,160}</string>
            </dict>
            <key>box@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1428},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>box_laser_green@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>box_laser_red@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>explosion-zombi@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1024,1262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,1262}}</string>
                <key>sourceSize</key>
                <string>{1024,1262}</string>
            </dict>
            <key>freeze_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1266},{715,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{715,222}}</string>
                <key>sourceSize</key>
                <string>{715,222}</string>
            </dict>
            <key>gun_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{336,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,31}}</string>
                <key>sourceSize</key>
                <string>{336,31}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{32,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,57}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>rain_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1490},{40,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,11}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas14.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39913e20e7a7bc774fb3b512e3747310:b0dcf38a03bc083d02ea7d29ef2ab7e1:265d6b6a5b1d00970d737175864cc2c7$</string>
            <key>textureFileName</key>
            <string>TextureAtlas14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
