<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1902},{738,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,49}}</string>
                <key>sourceSize</key>
                <string>{738,49}</string>
            </dict>
            <key>end_lvl_bg_popup@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{656,931}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,931}}</string>
                <key>sourceSize</key>
                <string>{656,931}</string>
            </dict>
            <key>end_lvl_bg_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2000,743}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2000,743}}</string>
                <key>sourceSize</key>
                <string>{2000,743}</string>
            </dict>
            <key>end_lvl_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1680},{800,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,200}}</string>
                <key>sourceSize</key>
                <string>{800,200}</string>
            </dict>
            <key>end_lvl_kybok_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,747},{540,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,608}}</string>
                <key>sourceSize</key>
                <string>{540,608}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,747},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>end_star_glow@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1680},{214,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,220}}</string>
                <key>sourceSize</key>
                <string>{214,220}</string>
            </dict>
            <key>end_star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1902},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f75f5be716f6232ee4be5ebf4b8a4f80:bbfa47c1dfce3875bc8567e7c191b8e3:04d5813c1013d9c54e1039dcb428156a$</string>
            <key>textureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
