<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>birds_life@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1437},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{2044,1434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2044,1434}}</string>
                <key>sourceSize</key>
                <string>{2044,1434}</string>
            </dict>
            <key>bonus-heart@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1835},{149,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,134}}</string>
                <key>sourceSize</key>
                <string>{149,134}</string>
            </dict>
            <key>bonus-shield@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1695},{115,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,138}}</string>
                <key>sourceSize</key>
                <string>{115,138}</string>
            </dict>
            <key>bonus-time@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1835},{97,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,136}</string>
            </dict>
            <key>popup_key_ico_fall@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1973},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas10.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47c550077d4f43e4056e5e03af105e4b:624f889bc87b1e111d34aaac9876329e:9d5d1a95c7a41bfe7dc996a89c328ad2$</string>
            <key>textureFileName</key>
            <string>TextureAtlas10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
