<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_detail_dark@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,418}}</string>
                <key>sourceSize</key>
                <string>{1000,418}</string>
            </dict>
            <key>popup_key_pic_wander@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{604,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,540}}</string>
                <key>sourceSize</key>
                <string>{604,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas15.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88e162cdee38b56d9f482c1353320994:fbfbb6e90878b99cfb80fde40f8aa0d8:0aec3798efe2a07fa5502b8ad797a056$</string>
            <key>textureFileName</key>
            <string>TextureAtlas15.pvr.ccz</string>
        </dict>
    </dict>
</plist>
