<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{301,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,200}}</string>
                <key>sourceSize</key>
                <string>{301,200}</string>
            </dict>
            <key>btn_sprite_close@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>explosion-war@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1182,1448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1182,1448}}</string>
                <key>sourceSize</key>
                <string>{1182,1448}</string>
            </dict>
            <key>pause_birds_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,992},{600,707}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,707}}</string>
                <key>sourceSize</key>
                <string>{600,707}</string>
            </dict>
            <key>pause_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{380,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,147}}</string>
                <key>sourceSize</key>
                <string>{380,147}</string>
            </dict>
            <key>pause_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1701},{294,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,147}}</string>
                <key>sourceSize</key>
                <string>{294,147}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,2},{648,988}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,988}}</string>
                <key>sourceSize</key>
                <string>{648,988}</string>
            </dict>
            <key>popup_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1850},{265,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,147}}</string>
                <key>sourceSize</key>
                <string>{265,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas12.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe10e5a4b1ef51382fa1f47f06528021:c4d0bd4538750089d29dcc840af9acfd:90eceb48c3ced68e923c3275d96621ac$</string>
            <key>textureFileName</key>
            <string>TextureAtlas12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
