<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_scroll_border@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1981},{678,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,33}}</string>
                <key>sourceSize</key>
                <string>{678,33}</string>
            </dict>
            <key>bg_detail_choose_bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,39},{310,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,276}}</string>
                <key>sourceSize</key>
                <string>{310,276}</string>
            </dict>
            <key>bg_detail_lamp@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,519},{254,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,372}}</string>
                <key>sourceSize</key>
                <string>{254,372}</string>
            </dict>
            <key>bg_detail_settings@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{329,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,256}}</string>
                <key>sourceSize</key>
                <string>{329,256}</string>
            </dict>
            <key>bg_detail_stripe@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1772},{383,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,207}}</string>
                <key>sourceSize</key>
                <string>{383,207}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1284},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>btn_sfx_mfx_ach_lead_sprite_pause@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,317},{301,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,200}}</string>
                <key>sourceSize</key>
                <string>{301,200}</string>
            </dict>
            <key>btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{486,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,486}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>choose_box_navi_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,39},{48,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>lock@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1981},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>main_menu_btn_bg_play@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,228},{305,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,317}}</string>
                <key>sourceSize</key>
                <string>{305,317}</string>
            </dict>
            <key>play_btn_animation@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1686},{684,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,276}}</string>
                <key>sourceSize</key>
                <string>{684,276}</string>
            </dict>
            <key>settings_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>settings_btn_big@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,39},{435,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,187}}</string>
                <key>sourceSize</key>
                <string>{435,187}</string>
            </dict>
            <key>unlock_mode_effect@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1000,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,35}}</string>
                <key>sourceSize</key>
                <string>{1000,35}</string>
            </dict>
            <key>vk@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,39},{169,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,182}}</string>
                <key>sourceSize</key>
                <string>{169,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca40da497b549c8cbe2684a36fbca11d:661aa6b4b630d3dfbd43df825b41c16f:1622b2e3d2e266e16f21959f6ae95504$</string>
            <key>textureFileName</key>
            <string>TextureAtlas2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
