<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popup_glife_btn@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{305,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,327}}</string>
                <key>sourceSize</key>
                <string>{305,327}</string>
            </dict>
            <key>popup_glife_pic@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1284},{614,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,628}}</string>
                <key>sourceSize</key>
                <string>{614,628}</string>
            </dict>
            <key>preload-lvl-bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>preload-lvl-bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{676,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,630}}</string>
                <key>sourceSize</key>
                <string>{676,630}</string>
            </dict>
            <key>preload-lvl-wave@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,2},{303,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,301}}</string>
                <key>sourceSize</key>
                <string>{303,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175424778575e98cf588ae8735bfbea8:adfd9597cc8f02732d2a5f9a22f052ca:f09fb1211140a49faf8860e629fa2051$</string>
            <key>textureFileName</key>
            <string>TextureAtlas3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
