<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_coins_light@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{350,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,335}}</string>
                <key>sourceSize</key>
                <string>{350,335}</string>
            </dict>
            <key>popup_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{648,988}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,988}}</string>
                <key>sourceSize</key>
                <string>{648,988}</string>
            </dict>
            <key>popup_buy_coins_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{594,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,482}}</string>
                <key>sourceSize</key>
                <string>{594,482}</string>
            </dict>
            <key>popup_darkness@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>popup_getcoins_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1536},{485,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,391}}</string>
                <key>sourceSize</key>
                <string>{485,391}</string>
            </dict>
            <key>popup_progress_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1517},{456,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,477}}</string>
                <key>sourceSize</key>
                <string>{456,477}</string>
            </dict>
            <key>popup_quit_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,994},{450,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,538}}</string>
                <key>sourceSize</key>
                <string>{450,538}</string>
            </dict>
            <key>popup_quit_picture_light_main@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1286},{375,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,425}}</string>
                <key>sourceSize</key>
                <string>{375,425}</string>
            </dict>
            <key>popup_rate_picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,994},{509,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,519}}</string>
                <key>sourceSize</key>
                <string>{509,519}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas4.pvr</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1922f903a7381c85c496edb7cc4e6225:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas4.pvr</string>
        </dict>
    </dict>
</plist>
