<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_remove@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1927},{738,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,49}}</string>
                <key>sourceSize</key>
                <string>{738,49}</string>
            </dict>
            <key>coins@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1683},{300,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,240}}</string>
                <key>sourceSize</key>
                <string>{300,240}</string>
            </dict>
            <key>confety_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1927},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>end_lvl_bg_popup@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{652,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,930}}</string>
                <key>sourceSize</key>
                <string>{652,930}</string>
            </dict>
            <key>end_lvl_bg_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2000,743}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2000,743}}</string>
                <key>sourceSize</key>
                <string>{2000,743}</string>
            </dict>
            <key>end_lvl_btn_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1683},{800,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,200}}</string>
                <key>sourceSize</key>
                <string>{800,200}</string>
            </dict>
            <key>end_lvl_star_sprite@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,749},{600,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,400}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>shop_money_bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1887},{305,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,125}}</string>
                <key>sourceSize</key>
                <string>{305,125}</string>
            </dict>
            <key>star_particle@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a3b79e4d0b32e2a7bc6fddeb97f2b50:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
