<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>preload-lvl-bg@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1280}}</string>
                <key>sourceSize</key>
                <string>{1000,1280}</string>
            </dict>
            <key>preload-lvl-bird@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{676,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,630}}</string>
                <key>sourceSize</key>
                <string>{676,630}</string>
            </dict>
            <key>preload-lvl-wave@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1286},{303,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,301}}</string>
                <key>sourceSize</key>
                <string>{303,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TextureAtlas3.pvr</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b15afac4e5cf7c4fdef29cdb05d6b772:1/1$</string>
            <key>textureFileName</key>
            <string>TextureAtlas3.pvr</string>
        </dict>
    </dict>
</plist>
